USE [master]
GO
/****** Object:  Database [GetUnifiedDB]    Script Date: 13/03/2018 8:55:31 AM ******/
CREATE DATABASE [GetUnifiedDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GetUnifiedDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GetUnifiedDB]
GO
USE [GetUnifiedDB]
GO
/****** Object:  Table [dbo].[ContactTable]    Script Date: 13/03/2018 8:55:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactTable](
	[uID] [int] IDENTITY(1,1) NOT NULL,
	[HouseID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Mobile] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ContactTable] PRIMARY KEY CLUSTERED 
(
	[uID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HouseTable]    Script Date: 13/03/2018 8:55:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseTable](
	[HouseID] [int] IDENTITY(1,1) NOT NULL,
	[MacAddress] [nvarchar](50) NOT NULL,
	[HouseAddress] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HouseTable] PRIMARY KEY CLUSTERED 
(
	[HouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HouseUserTable]    Script Date: 13/03/2018 8:55:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseUserTable](
	[HouseUserID] [int] IDENTITY(1,1) NOT NULL,
	[HouseID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[StartDate] [nchar](10) NOT NULL,
	[EndDate] [nchar](10) NULL,
	[IsActive] [bit] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_HouseUserTable] PRIMARY KEY CLUSTERED 
(
	[HouseUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NodeTable]    Script Date: 13/03/2018 8:55:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NodeTable](
	[NodeID] [int] IDENTITY(1,1) NOT NULL,
	[HouseID] [int] NOT NULL,
	[NodeType] [int] NOT NULL,
 CONSTRAINT [PK_NodeTable] PRIMARY KEY CLUSTERED 
(
	[NodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SensorTable]    Script Date: 13/03/2018 8:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensorTable](
	[SensorID] [int] IDENTITY(1,1) NOT NULL,
	[NodeID] [int] NOT NULL,
	[SensorType] [int] NOT NULL,
	[UpperLimit] [float] NULL,
	[LowerLimit] [float] NULL,
	[Value] [float] NULL,
 CONSTRAINT [PK_SensorTable] PRIMARY KEY CLUSTERED 
(
	[SensorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 13/03/2018 8:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserTable]    Script Date: 13/03/2018 8:55:44 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserTable] ON [dbo].[UserTable]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HouseUserTable] ADD  CONSTRAINT [DF_HouseUserTable_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[HouseUserTable] ADD  CONSTRAINT [DF_HouseUserTable_IsAdmin]  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[ContactTable]  WITH NOCHECK ADD  CONSTRAINT [FK_ContactTable_HouseTable] FOREIGN KEY([HouseID])
REFERENCES [dbo].[HouseTable] ([HouseID])
GO
ALTER TABLE [dbo].[ContactTable] CHECK CONSTRAINT [FK_ContactTable_HouseTable]
GO
ALTER TABLE [dbo].[HouseUserTable]  WITH NOCHECK ADD  CONSTRAINT [FK_HouseUserTable_HouseTable] FOREIGN KEY([HouseID])
REFERENCES [dbo].[HouseTable] ([HouseID])
GO
ALTER TABLE [dbo].[HouseUserTable] CHECK CONSTRAINT [FK_HouseUserTable_HouseTable]
GO
ALTER TABLE [dbo].[HouseUserTable]  WITH NOCHECK ADD  CONSTRAINT [FK_HouseUserTable_UserTable] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserTable] ([UserID])
GO
ALTER TABLE [dbo].[HouseUserTable] CHECK CONSTRAINT [FK_HouseUserTable_UserTable]
GO
ALTER TABLE [dbo].[NodeTable]  WITH NOCHECK ADD  CONSTRAINT [FK_NodeTable_HouseTable] FOREIGN KEY([HouseID])
REFERENCES [dbo].[HouseTable] ([HouseID])
GO
ALTER TABLE [dbo].[NodeTable] CHECK CONSTRAINT [FK_NodeTable_HouseTable]
GO
ALTER TABLE [dbo].[SensorTable]  WITH NOCHECK ADD  CONSTRAINT [FK_SensorTable_NodeTable] FOREIGN KEY([NodeID])
REFERENCES [dbo].[NodeTable] ([NodeID])
GO
ALTER TABLE [dbo].[SensorTable] CHECK CONSTRAINT [FK_SensorTable_NodeTable]
GO
USE [master]
GO
